.movieItem img{
    width: 118px;
    min-height: 171px;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    height: 174px;
    cursor: pointer;
    border: 3px solid #888;
}

.movieItem img:hover{
    height: 180px;
    box-shadow: 10px 5px 5px #3f3f3f;
}